body {
  color: rgb(rgb(75, 7, 153);
  background: rgb(rgb(161, 4, 4),
  border: 0px;
}

header {
 border-bottom: solid 2px rgb(rgb(222, 243, 31);
 padding: 20px;
  font-size: 32px;
 color: rgb(rgb(7, 187, 37);
}